<span class="brand-text konap-brand">
    <span class="brand-title konap-brand-title">
        <span class="konap-letter konap-letter-accent">K</span>
        <span class="konap-letter konap-letter-strong">O</span>
        <span class="konap-letter konap-letter-accent">N</span>
        <span class="konap-letter konap-letter-strong">A</span>
        <span class="konap-letter konap-letter-accent">P</span>
    </span>
</span>
